canvas {
    z-index: 1;
    /* border: 2px black solid; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pantalla-inicio {
    z-index: 0;
    /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
       
     
        padding-top: 350px;
        padding-bottom: 350px;
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 20px;
background-image: url("imagenes/fondo.png");
background-size: 1380px, 500px;
background-position: center;

        
}  

#socials {
    z-index: 2;
    position: absolute;
    top: 15px;
    left: 30px;
    margin: 20px;
}

#socials img {
    height: 50px;
    width: auto;
}

   #start-button {
z-index: 2;
font-size: 20px;
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    
}    

.hidden {
    display: none;
}

#titulo-gameover {
    position: absolute;
        top: 200px;
        left: 0px;
        margin: 20px;
}

#countdown {
    position: absolute;
    top: 5px;
    left: 50px;
    font-size: 25px;
    color: white;
    width: 100px;
    height: 50px;
    z-index: 3;
    /* border: 2px solid white; */
    text-align: center;

}  
#score {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 25px;
    color: white;
    width: 100px;
    height: 50px;
    z-index: 3;
    /* border: 2px solid white; */
    text-align: center;

}
